
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* -------------------------------------------------------- VARIABLES */

:root {
	--body-font-family: 'Barlow Semi Condensed', sans-serif;
	--input-bg-color: hsl(200deg, 35%, 90%);
	--button-submit-bg-color: hsl(200deg, 80%, 50%);
	--header-bg-color: #FFFFFF;
	--sidebar-bg-color: hsl(200deg, 80%, 50%);
	--main-bg-color: hsl(200deg, 35%, 90%);
	--main-ul-block-box-shadow-color: hsla(0deg, 0%, 0%, 2.5%);
	--main-announcements-block-border-bottom-color: hsla(0deg, 0%, 0%, 5%);
	--main-projects-block-li-bg-color: hsl(40deg, 100%, 50%);
}

/* ------------------------------------------------------------ RESET */

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

input,
button {
	font: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- MAIN */

body {
	font: calc(1.6rem + .5vmin) var(--body-font-family);
}

input,
button[type='submit'] {
	border-radius: 30px;
}

:is(input, button, label):hover,
:is(input, button, label):focus {
	cursor: pointer;
}

input {
	background-color: var(--input-bg-color, red);
	padding: 1ch 2ch;
}

button[type='submit'] {
	background-color: var(--button-submit-bg-color);
	color: #FFFFFF;
	font-weight: 500;
	padding: 1ch 3ch;
	transition: all .5s ease-in-out;
}

button[type='submit']:hover,
button[type='submit']:focus {
	transform: scale(1.125);
}

/* ------------------------------------------------------------- GRID */

.grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 3fr;
	height: 100vh;
}

/* ----------------------------------------------------------- HEADER */

.header {
	background-color: var(--header-bg-color);
	display: grid;
	gap: 0;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column: 2 / -1;
	padding: 15px 30px;
}

.header-search {
	display: flex;
	gap: 30px;
	place-content: center;
	place-items: center;
	padding: 15px;
}

.header-search input {
	width: 100%;
}

.header-user-block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: center;
	place-items: center;
}

.header-user-bell {
	justify-self: flex-end;
}

.header-user-sub-block {
	display: flex;
	gap: 15px;
	place-content: center;
	place-items: center;
}

.header-user-avatar {
	border-radius: 50%;
	width: 48px;
}

.header-user-name {
	color: #000000;
	font-weight: bold;
}

.header-user-name:link {
	text-decoration: none;
}

.header-user-name:hover,
.header-user-name:focus {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
}

.header-greetings {
	display: grid;
	gap: 30px;
	grid-template-columns: auto 1fr;
	place-content: center;
}

.header-greetings-user-avatar {
	border-radius: 50%;
	width: 80px;
}

.header-greetings-user {
	display: flex;
	flex-direction: column;
	place-content: center;
	row-gap: 5px;
}

.header-greetings-text {
	font-weight: 500;
}

.header-greetings-user-name {
	font-size: 1.5em;
	font-weight: bold;
}

.header-buttons {
	display: flex;
	flex-direction: row;
	gap: 30px;
	place-content: center;
	place-items: center;
}

/* ---------------------------------------------------------- SIDEBAR */

.sidebar {
	background-color: var(--sidebar-bg-color);
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	gap: 60px;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	padding: 30px;
}

.sidebar-heading {
	display: flex;
	flex-direction: row;
	gap: 30px;
	place-content: flex-start;
	place-items: center;
}

.sidebar-heading-logo {
	filter: invert();
	width: 64px;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.sidebar-menu ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	list-style: none;
}

.sidebar-menu a {
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	font-weight: 500;
	gap: 30px;
	letter-spacing: .125ch;
	place-items: center;
}

.sidebar-menu a:link {
	text-decoration: none;
}

.sidebar-menu a:hover,
.sidebar-menu a:focus {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
}

.sidebar-menu img {
	filter: invert();
}

/* ----------------------------------------------------- MAIN CONTENT */

.main {
	background-color: var(--main-bg-color);
	background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	display: grid;
	gap: 60px 30px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 3fr 1fr;
	overflow-y: auto;
	padding: 30px;
}

.main-projecs-heading,
.main-announcements-heading,
.main-trending-heading {
	padding-left: 2ch;
}

.main-announcements-block,
.main-trending-block {
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0 var(--main-ul-block-box-shadow-color);
	list-style: none;
	padding: 15px;
}



.main-projects {
	display: flex;
	flex-direction: column;
	gap: 20px;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

.main-projects-block {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	list-style: none;
}

.main-projects-block li {
	background-color: #FFFFFF;
	border-left: 10px solid var(--main-projects-block-li-bg-color);
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0 var(--main-ul-block-box-shadow-color);
	display: grid;
	padding: 30px;
}

.main-project-block-icons {
	display: flex;
	flex-direction: row;
	place-content: flex-end;
	margin-top: 30px;
	column-gap: 15px;
}



.main-announcements {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main-announcements-block {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
}

.main-announcements-block li:not(:last-child) {
	border-bottom: 1px solid var(--main-announcements-block-border-bottom-color);
	padding-bottom: 15px;
}

.main-announcements-block p {
	margin-top: 5px;
}



.main-trending,
.main-trending-block {
	display: flex;
	flex-direction: column;
}

.main-trending {
	gap: 20px;
}

.main-trending-block {
	gap: 15px;
}

.main-trending-block li {
	display: grid;
	gap: 2px 15px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(2, 1fr);
}

.main-trending-user-avatar {
	border-radius: 50%;
	width: 48px;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}
